:root {
  --font-family-Inter: 'Inter', sans-serif;
  --font-family-Lexend: 'Lexend Deca', sans-serif;

  --bg-gradient: linear-gradient(270deg, #3ea1db 0%, #574ae8 100%);
  --purple-500: #574ae8;

  --white: #ffffff;
  --white-200: #f3f5f7;

  --grey-300: #717171;
  --grey-800: #1a202c;
}

/* tira a borda padrao do site todo */
:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--white-200);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-Lexend);
  background: var(--white-200);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: var(--font-family-Lexend);
  font-weight: 400;
  font-size: 1rem;
}
