@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text: #373739;
  --text-button: #f7f7f9;
  --bg: rgba(238, 235, 248, 0.5);
  --button-bg: #7658dc;

  --ff-Inter: 'Inter', sans-serif;
  --ff-Lexend: 'Lexend Deca', sans-serif;
}

html {
  color: var(--text);
  font-family: var(--ff-Lexend);
}

body {
  width: 80%;
  margin: 1rem auto;
}

.grid {
  width: 80%;
  display: flex;
}

.card {
  width: 250px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  background: var(--bg);
}

img {
  max-width: 100%;

  border-radius: 4px;
  margin: 1.5rem 0;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.2);
}

.links {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  background: var(--button-bg);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.2;
}

button:hover {
  opacity: 0.8;
}

button a {
  text-decoration: none;
  font-family: var(--ff-Lexend);
  color: var(--text-button);
}

@media screen and (max-width: 900px) {
  .grid {
    display: block;
    margin: 1rem auto;
  }
}
