.card {
  border: none;
}

.btn-light {
  background: #f7f7f7;
  border: 2px solid #ededef96;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 300px;
    margin: 0 auto;
  }

  .row {
    gap: 0 !important;
  }
}
