@import '../../styles/variaveis';

header {
  background: $bg-gradient;
  height: 250px;
  margin-bottom: 6.25rem;

  div {
    width: $container;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
   
    p {
      color: $white;
      padding: 2.5rem 0;
      font-size: 1.5rem;
    }
  }
}

