// Fontes
$Inter: 'Inter', sans-serif;
$Lexend: 'Lexend Deca', sans-serif;

// Cores
$bg-gradient: linear-gradient(270deg, #3ea1db 0%, #574ae8 100%);
$purple-500: #574ae8;

$white: #ffffff;
$white-200: #f3f5f7;

$grey-300: #717171;
$grey-800: #1a202c;

// Container
@mixin respond($breakpoint) {
  @if $breakpoint == medium {
    @media (max-width: 930px) { @content };
  }
  @if $breakpoint == small {
    @media (max-width: 450px) { @content };
  }
}

$container: 900px;
$container-m: calc(100% - 4rem);
$container-xs: calc(100% - 2rem);