// Fontes
$Inter: 'Inter', sans-serif;
$Lexend: 'Lexend Deca', sans-serif;

// Cores
$bg-gradient: linear-gradient(270deg, #3ea1db 0%, #574ae8 100%);
$purple-500: #574ae8;

$white: #ffffff;
$white-200: #f3f5f7;

$grey-300: #717171;
$grey-800: #1a202c;

// Container
$container: 900px;