@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --white: #f9f9f9;
  --white-200: #ebe9ea;

  --grey: #474747;
  --black-light: #181818;
}

html {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}
