@import '../../styles/variaveis';

.containerInput {
    width: $container;
    margin-top: 3rem;
    display: flex;
    position: relative;
    align-items: center;
    .icon {
      position: absolute;
      margin-left: .5rem;
      color: $white;
    }
    input {
      width: 100%;
      border: none;
      padding: 1.2rem 3rem;
      border-radius: 4px;
      font-family: $Inter;
      color: $white;

      background: rgba(255, 255, 255, 0.2);
      &::placeholder {
        color: $white;
        opacity: 0.5;
      }
    }
    
}
